{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for msg in messages %}
    <p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/add_task" method="POST">

    <input type="text" name="TASK" placeholder="Materia">
    <input type="date" name="FECHA_INICIO" placeholder="Fecha inicio">
    <input type="date" name="FECHA_FIN" placeholder="Fecha fin">
    <textarea name="DESCRIPCION"></textarea>
    <button type="submit">
        Save
    </button>
</form>

<table>
    <thead>
        <tr>
            <td>Materia</td>
            <td>Fecha de Inicio</td>
            <td>Fecha de entrega</td>
            <td>Descripcion</td>
            <td>Cambios</td>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>
                {{task.1}}
            </td>
            <td>
                {{task.2}}
            </td>
            <td>
                {{task.3}}
            </td>
            <td>
                {{task.4}}
            </td>
            <td>
                <a href="/getTask/{{task.0}}">Editar</a>
                <a href="/delete/{{task.0}}">Eliminar</a>
            </td>
        </tr>

        {% endfor%}
    </tbody>
</table>